n8n/senzio-workflow-restaurante.json
{
  "name": "Senzio - Restaurante / Comercio",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "node-subworkflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        320
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "messages",
        "returnAll": false,
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "conversation_id",
              "condition": "eq",
              "keyValue": "={{ $node[\"Save User Message\"].json.conversation_id }}"
            }
          ]
        }
      },
      "id": "node-get-messages",
      "name": "Get Conversation History",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1250,
        320
      ],
      "credentials": {
        "supabaseApi": "Supabase account"
      },
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "// Construir prompt para restaurante con menú estructurado\nconst messages = $input.all();\nconst professional = $('Execute Workflow Trigger').item.json.professional;\nconst customer = {};\nconst incoming = $('Execute Workflow Trigger').item.json;\n\nconst businessName = professional.full_name || 'el negocio';\nconst businessConfig = professional.business_config || {};\nconst btConfig = professional.business_types?.config || {};\n\n// Horario de atención\nconst workingHours = businessConfig.working_hours || btConfig.working_hours || {};\nconst dias = Object.entries(workingHours)\n  .map(([dia, h]) => `${dia}: ${h.start} - ${h.end}`)\n  .join(', ');\n\n// Construir menú como texto para el prompt\nconst menuItems = businessConfig.menu || [];\nlet menuTexto = '';\nif (menuItems.length > 0) {\n  menuTexto = menuItems.map(cat => {\n    const platillos = (cat.platillos || [])\n      .filter(p => p.disponible !== false)\n      .map(p => `  - ${p.nombre}: $${p.precio} (máx. ${p.max_piezas} piezas)`)\n      .join('\\n');\n    return `*${cat.categoria}:*\\n${platillos}`;\n  }).join('\\n\\n');\n} else {\n  menuTexto = businessConfig.menu_text || 'El menú no está configurado aún.';\n}\n\n// Número de notificación al dueño\nconst notificationPhone = businessConfig.orders_notification_phone || null;\n\n// Horario actual — para saber si está abierto\nconst ahora = new Date();\nconst diasSemana = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'];\nconst diaActual = diasSemana[ahora.getDay()];\nconst horarioHoy = workingHours[diaActual];\nlet estaAbierto = true;\nif (horarioHoy) {\n  const [hAbre, mAbre] = horarioHoy.start.split(':').map(Number);\n  const [hCierra, mCierra] = horarioHoy.end.split(':').map(Number);\n  const minAhora = ahora.getHours() * 60 + ahora.getMinutes();\n  const minAbre = hAbre * 60 + mAbre;\n  const minCierra = hCierra * 60 + mCierra;\n  estaAbierto = minAhora >= minAbre && minAhora <= minCierra;\n}\n\nconst systemPrompt = estaAbierto\n  ? `Eres el asistente de pedidos de \"${businessName}\".\nTu único objetivo es tomar el pedido del cliente de forma conversacional y confirmar todos los detalles.\n\nMENÚ DISPONIBLE:\n${menuTexto}\n\nHORARIO: ${dias || 'Consulta directamente con el negocio'}\n\nINSTRUCCIONES:\n1. Saluda al cliente por su nombre si lo conoces.\n2. Ayuda al cliente a armar su pedido según el menú. Si pide algo que no está en el menú, indícalo amablemente.\n3. Respeta el máximo de piezas establecido POR CADA platillo de forma individual (ej. si el máximo es 30, el cliente puede pedir 30 tacos al pastor Y 30 tacos de suadero, no lo sumes).\n4. Cuando el pedido esté completo pregunta: nombre, si es para recoger o a domicilio (y dirección si aplica), y método de pago (efectivo, tarjeta o transferencia).\n5. Cuando tengas TODOS los datos ejecuta la función Create_Order.\n6. Sé conciso — máximo 3 oraciones por respuesta.\n7. Responde siempre en español.\n\nPRESENTACIÓN DEL MENÚ:\n- Cuando el cliente pida el menú, muéstralo como texto formateado usando los datos de MENÚ DISPONIBLE.\n- Usa emojis representativos por categoría para hacerlo visual.\n- Incluye nombre, precio y máximo de piezas de cada platillo disponible.\n- Solo muestra platillos donde disponible === true.\n- Al final del menú siempre invita al cliente a ordenar con una pregunta directa.\n- NO digas que no tienes la foto del menú. Simplemente entrega el menú en texto. Si el cliente pide la imagen del menú explícitamente, responde: \"Claro, aquí está nuestro menú visual 📋\" y ejecuta la función Send_Menu_Image.`\n  : `Eres el asistente de \"${businessName}\". En este momento el negocio está cerrado. Horario: ${dias}. Informa amablemente al cliente y dile a qué hora puede volver a escribir para hacer su pedido.`;\n\n// Historial ordenado cronológicamente\nconst sortedMessages = [...messages]\n  .filter(m => m.json && m.json.content && m.json.sender)\n  .sort((a, b) => new Date(a.json.created_at).getTime() - new Date(b.json.created_at).getTime());\n\nconst historial = sortedMessages.map(m => ({\n  role: m.json.sender === 'user' ? 'user' : 'assistant',\n  content: m.json.content\n}));\n\nconst openaiMessages = [\n  { role: 'system', content: systemPrompt },\n  ...historial,\n  { role: 'user', content: incoming.message }\n];\n\nreturn [{\n  json: {\n    openaiMessages,\n    professional,\n    customer,\n    incoming,\n    estaAbierto,\n    notificationPhone,\n    businessName\n  }\n}];"
      },
      "id": "node-build-prompt",
      "name": "Build Restaurant Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1450,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": {{ JSON.stringify($json.openaiMessages) }},\n  \"tools\": [\n    {\n      \"type\": \"function\",\n      \"function\": {\n        \"name\": \"Create_Order\",\n        \"description\": \"Registra el pedido cuando el cliente ha confirmado todos los detalles: qué ordenó, nombre, entrega y pago.\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"client_name\": { \"type\": \"string\", \"description\": \"Nombre del cliente\" },\n            \"order_details\": { \"type\": \"string\", \"description\": \"Descripción completa del pedido con cantidades y platillos\" },\n            \"delivery_type\": { \"type\": \"string\", \"description\": \"recoger o domicilio\" },\n            \"delivery_address\": { \"type\": \"string\", \"description\": \"Dirección de entrega. Si es para recoger, valor: 'para recoger'\" },\n            \"payment_method\": { \"type\": \"string\", \"description\": \"efectivo, tarjeta o transferencia\" },\n            \"requested_time\": { \"type\": \"string\", \"description\": \"Hora estimada de entrega o recolección en formato ISO 8601. Si el cliente no especifica, usar NOW + 30 minutos.\" }\n          },\n          \"required\": [\"client_name\", \"order_details\", \"delivery_type\", \"delivery_address\", \"payment_method\", \"requested_time\"]\n        }\n      }\n    },\n    {\n      \"type\": \"function\",\n      \"function\": {\n        \"name\": \"Send_Menu_Image\",\n        \"description\": \"Envía la imagen del menú al cliente SOLO cuando lo solicita explícitamente con palabras como foto, imagen o menú visual.\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"reason\": {\n              \"type\": \"string\",\n              \"description\": \"Motivo por el que se envía la imagen\"\n            }\n          },\n          \"required\": [\"reason\"]\n        }\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "node-4",
      "name": "OpenAI Restaurant Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1650,
        320
      ],
      "credentials": {
        "httpHeaderAuth": "OpenAI Header Auth"
      }
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $('OpenAI Restaurant Agent').item.json;\nconst buildData = $('Build Restaurant Prompt').item.json;\nconst message = agentOutput.choices?.[0]?.message;\nconst toolCalls = message?.tool_calls;\n\nif (toolCalls && toolCalls.length > 0) {\n  try {\n    const toolName = toolCalls[0].function.name;\n    if (toolName === 'Send_Menu_Image') {\n      const menuImageUrl = buildData.professional.business_config?.menu_image_url;\n      if (!menuImageUrl) {\n        return [{\n          json: {\n            has_function: false,\n            is_menu_image: false,\n            reply_text: 'Lo siento, no tengo una foto del menú registrada en este momento. Pero aquí tienes nuestro menú en texto:\\n\\n' + (buildData.openaiMessages[0].content.split('MENÚ DISPONIBLE:\\n')[1]?.split('\\n\\nHORARIO:')[0] || 'Por favor indícame qué te gustaría ordenar.'),\n            professional: buildData.professional,\n            incoming: buildData.incoming,\n            notificationPhone: buildData.notificationPhone,\n            businessName: buildData.businessName\n          }\n        }];\n      }\n      return [{\n        json: {\n          has_function: false,\n          is_menu_image: true,\n          menu_image_url: menuImageUrl,\n          reply_text: '¡Aquí está nuestro menú visual! 📋',\n          professional: buildData.professional,\n          incoming: buildData.incoming,\n          notificationPhone: buildData.notificationPhone,\n          businessName: buildData.businessName\n        }\n      }];\n    }\n\n    const args = JSON.parse(toolCalls[0].function.arguments);\n\n    // Calcular end_time = requested_time + 30 min (con fallback robusto)\n    let startDate = new Date(args.requested_time);\n    if (isNaN(startDate.getTime())) {\n      startDate = new Date();\n      startDate.setMinutes(startDate.getMinutes() + 30); // Default to now + 30m\n      args.requested_time = startDate.toISOString();\n    }\n    const endDate = new Date(startDate.getTime() + 30 * 60000);\n\n    // Formatear para la API de appointments\n    const appointment_date = startDate.toISOString().split('T')[0];\n    const appointment_time = startDate.toISOString().split('T')[1].substring(0, 5);\n\n    return [{\n      json: {\n        has_function: true,\n        client_name: args.client_name,\n        order_details: args.order_details,\n        delivery_type: args.delivery_type,\n        delivery_address: args.delivery_address,\n        payment_method: args.payment_method,\n        requested_time: startDate.toISOString(),\n        end_time: endDate.toISOString(),\n        appointment_date: appointment_date,\n        appointment_time: appointment_time,\n        reply_text: message.content || `¡Pedido recibido! Te confirmamos en un momento, ${args.client_name}.`,\n        professional: buildData.professional,\n        customer: buildData.customer,\n        incoming: buildData.incoming,\n        notificationPhone: buildData.notificationPhone,\n        businessName: buildData.businessName\n      }\n    }];\n  } catch (e) {\n    return [{ json: {\n      has_function: false,\n      reply_text: message?.content || 'Hubo un problema procesando tu pedido. ¿Puedes repetirlo?',\n      professional: buildData.professional,\n      incoming: buildData.incoming,\n      notificationPhone: buildData.notificationPhone,\n      businessName: buildData.businessName\n    }}];\n  }\n}\n\nreturn [{\n  json: {\n    has_function: false,\n    reply_text: message?.content || 'Hubo un problema. ¿Puedes repetir tu pedido?',\n    professional: buildData.professional,\n    customer: buildData.customer,\n    incoming: buildData.incoming,\n    notificationPhone: buildData.notificationPhone,\n    businessName: buildData.businessName\n  }\n}];"
      },
      "id": "node-9",
      "name": "Extract Order Arguments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1850,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_function }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-has-order",
      "name": "Has Complete Order?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2050,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://assistwarrior-two.vercel.app/api/n8n/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"professional_id\": \"{{ $node[\"Execute Workflow Trigger\"].json.professional.id }}\",\n  \"patient_name\": \"{{ $node[\"Extract Order Arguments\"].json.client_name }}\",\n  \"patient_phone\": \"{{ $node[\"Execute Workflow Trigger\"].json.phone }}\",\n  \"appointment_date\": \"{{ $node[\"Extract Order Arguments\"].json.appointment_date }}\",\n  \"appointment_time\": \"{{ $node[\"Extract Order Arguments\"].json.appointment_time }}\",\n  \"reason\": \"Pedido: {{ $node[\"Extract Order Arguments\"].json.order_details }} | Entrega: {{ $node[\"Extract Order Arguments\"].json.delivery_type }} | Dirección: {{ $node[\"Extract Order Arguments\"].json.delivery_address }} | Pago: {{ $node[\"Extract Order Arguments\"].json.payment_method }}\"\n}",
        "options": {}
      },
      "id": "node-save-order",
      "name": "Save Order (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2250,
        200
      ],
      "credentials": {
        "httpHeaderAuth": "N8N Webhook Secret"
      }
    },
    {
      "parameters": {
        "jsCode": "// Mensaje de confirmación al cliente\nconst args = $('Extract Order Arguments').item.json;\nconst hora = new Date(args.requested_time).toLocaleTimeString('es-MX', { hour: '2-digit', minute: '2-digit' });\n\nconst entregaTexto = args.delivery_type === 'domicilio'\n  ? `🚚 *Entrega a domicilio:* ${args.delivery_address}`\n  : `🏪 *Para recoger en sucursal*`;\n\nconst confirmacion = `✅ *¡Pedido confirmado!*\\n\\n📋 *Tu pedido:*\\n${args.order_details}\\n\\n${entregaTexto}\\n💳 *Pago:* ${args.payment_method}\\n⏰ *Tiempo estimado:* ${hora}\\n\\nGracias por tu preferencia. Si tienes alguna duda sobre tu pedido escríbenos.`;\n\nreturn [{ json: { confirmation_message: confirmacion, ...args } }];"
      },
      "id": "node-build-confirm",
      "name": "Build Order Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2450,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v17.0/' + $node[\"Extract Order Arguments\"].json.professional.whatsapp_phone_number_id + '/messages' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $node[\"Extract Order Arguments\"].json.incoming.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($json.confirmation_message) }}\n  }\n}",
        "options": {}
      },
      "id": "node-send-confirm",
      "name": "Send Confirmation to Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2650,
        200
      ],
      "credentials": {
        "httpHeaderAuth": "WhatsApp Header Auth"
      }
    },
    {
      "parameters": {
        "jsCode": "// Notificación al dueño del negocio\nconst args = $('Extract Order Arguments').item.json;\nconst notifPhone = args.notificationPhone;\n\nif (!notifPhone) {\n  // No hay número de notificación configurado — saltar\n  return [{ json: { skip_notification: true, ...args } }];\n}\n\nconst hora = new Date(args.requested_time).toLocaleTimeString('es-MX', { hour: '2-digit', minute: '2-digit' });\n\nconst msgDueno = `🔔 *NUEVO PEDIDO — ${args.businessName}*\\n\\n👤 *Cliente:* ${args.client_name}\\n📱 *WhatsApp:* ${args.incoming.phone}\\n\\n📋 *Pedido:*\\n${args.order_details}\\n\\n${ args.delivery_type === 'domicilio' ? `🚚 *Domicilio:* ${args.delivery_address}` : '🏪 *Para recoger*' }\\n💳 *Pago:* ${args.payment_method}\\n⏰ *Hora solicitada:* ${hora}`;\n\nreturn [{ json: { notification_message: msgDueno, notification_phone: notifPhone, ...args } }];"
      },
      "id": "node-build-notification",
      "name": "Build Owner Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2650,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip_notification }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-skip-notif",
      "name": "Has Notification Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2850,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v17.0/' + $node[\"Extract Order Arguments\"].json.professional.whatsapp_phone_number_id + '/messages' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.notification_phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($json.notification_message) }}\n  }\n}",
        "options": {}
      },
      "id": "node-send-owner",
      "name": "Send Notification to Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3050,
        440
      ],
      "credentials": {
        "httpHeaderAuth": "WhatsApp Header Auth"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v17.0/' + $node[\"Execute Workflow Trigger\"].json.professional.whatsapp_phone_number_id + '/messages' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $node[\"Execute Workflow Trigger\"].json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($node[\"Extract Order Arguments\"].json.reply_text) }}\n  }\n}",
        "options": {}
      },
      "id": "node-8",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2350,
        540
      ],
      "credentials": {
        "httpHeaderAuth": "WhatsApp Header Auth"
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_menu_image }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-is-menu-image",
      "name": "Is Menu Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2150,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v17.0/' + $json.professional.whatsapp_phone_number_id + '/messages' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.incoming.phone }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"link\": \"{{ $json.menu_image_url }}\",\n    \"caption\": \"Menú de {{ $json.businessName }}\"\n  }\n}",
        "options": {}
      },
      "id": "node-send-menu-image",
      "name": "Send Menu Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2350,
        380
      ],
      "credentials": {
        "httpHeaderAuth": "WhatsApp Header Auth"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://assistwarrior-two.vercel.app/api/n8n/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { professional_id: $node[\"Execute Workflow Trigger\"].json.professional.id, patient_phone: $node[\"Execute Workflow Trigger\"].json.phone, patient_name: $node[\"Execute Workflow Trigger\"].json.pushName || '', message: $node[\"Execute Workflow Trigger\"].json.message, sender: \"user\" } }}",
        "options": {}
      },
      "id": "node-save-user-msg",
      "name": "Save User Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1050,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://assistwarrior-two.vercel.app/api/n8n/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { professional_id: $node[\"Execute Workflow Trigger\"].json.professional.id, patient_phone: $node[\"Execute Workflow Trigger\"].json.phone, patient_name: $node[\"Execute Workflow Trigger\"].json.pushName || '', message: $node[\"Extract Order Arguments\"].json.reply_text, sender: \"assistant\" } }}",
        "options": {}
      },
      "id": "node-save-bot-msg-reply",
      "name": "Save Bot Message (Reply)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2350,
        680
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Save User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation History": {
      "main": [
        [
          {
            "node": "Build Restaurant Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Restaurant Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Restaurant Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Restaurant Agent": {
      "main": [
        [
          {
            "node": "Extract Order Arguments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Order Arguments": {
      "main": [
        [
          {
            "node": "Has Complete Order?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Complete Order?": {
      "main": [
        [
          {
            "node": "Save Order (API)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Menu Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Menu Image?": {
      "main": [
        [
          {
            "node": "Send Menu Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Bot Message (Reply)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Order (API)": {
      "main": [
        [
          {
            "node": "Build Order Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Order Confirmation": {
      "main": [
        [
          {
            "node": "Send Confirmation to Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Owner Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Owner Notification": {
      "main": [
        [
          {
            "node": "Has Notification Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Notification Phone?": {
      "main": [
        [],
        [
          {
            "node": "Send Notification to Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Message": {
      "main": [
        [
          {
            "node": "Get Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Bot Message (Reply)": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "tags": [
    {
      "name": "senzio"
    },
    {
      "name": "restaurante"
    }
  ]
}